<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Clinic Vets</title>
</head>
    <body>
     <h2 th:text="#{vets}">List of Vets</h2>
     <table id="vets" class="table table-striped">
         <thead>
         <tr>
             <th>Name</th>
             <th>Specialties</th>
         </tr>
         </thead>
         <!-- For each vet in the vet list create a new row with the three columns-->
         <tbody>
         <tr th:each="vet : ${vets}">
             <td th:text="${vet.firstName + ' ' + vet.lastName}">Marcos</td>
             <td>
                 <span th:each="specialty : ${vet.specialties}" th:text="${specialty.description + ' '}">
                 </span>
                 <span th:if="${vet.specialties.isEmpty()}" >None</span>
             </td>
         </tr>
         </tbody>
     </table>
    </body>
</html>